# ---------------------------------
# 1. ESP-IDF Build System (RECURSIVO)
# ---------------------------------
# Al quitar la barra inicial, esto ignora 'build' dentro de CUALQUIER proyecto
build/
managed_components/
dependencies.lock

# ---------------------------------
# 2. Configuración y Secretos (SEGURIDAD)
# ---------------------------------
# Ignora estos archivos en cualquier subcarpeta
sdkconfig
sdkconfig.old
sdkconfig.ci
sdkconfig.debug
sdkconfig.release

# Excepción: Mantener los defaults (donde sea que estén)
!sdkconfig.defaults

# Certificados y llaves (Protección global)
*.pem
*.key
*.crt
*.der
*.p12

# ---------------------------------
# 3. IDE & Herramientas
# ---------------------------------
.vscode/
.idea/
*.code-workspace
.DS_Store
compile_commands.json

# ---------------------------------
# 4. Python & Temporales
# ---------------------------------
__pycache__/
*.pyc
*.pyo

# ---------------------------------
# 5. Documentación y Logs
# ---------------------------------
_build/
core.*
*.log