# ---------------------------------
# 1. ESP-IDF Build System (CRITICO)
# ---------------------------------
# La carpeta donde ocurre toda la magia (y el desorden)
/build/
/managed_components/
/dependencies.lock

# ---------------------------------
# 2. Configuración y Secretos (SEGURIDAD)
# ---------------------------------
# Ignorar cualquier archivo sdkconfig...
sdkconfig
sdkconfig.old
sdkconfig.ci
sdkconfig.debug
sdkconfig.release

# ...PERO permitir explícitamente el archivo de arquitectura base
!sdkconfig.defaults

# Bloquear certificados y llaves privadas (Por si acaso bajas alguno)
*.pem
*.key
*.crt
*.der
*.p12

# ---------------------------------
# 3. IDE & Herramientas
# ---------------------------------
.vscode/
.idea/
*.code-workspace
.DS_Store
compile_commands.json

# ---------------------------------
# 4. Python & Temporales
# ---------------------------------
__pycache__/
*.pyc
*.pyo

# ---------------------------------
# 5. Documentación y Logs
# ---------------------------------
/docs/_build/
core.*
*.log