# Habilitar Bluetooth
CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y

# Usar NimBLE, no Bluedroid
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=y

# Roles: Gateway necesita ser Observer (Scanner)
CONFIG_BT_NIMBLE_ROLE_OBSERVER=y
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=n
CONFIG_BT_NIMBLE_ROLE_CENTRAL=y

# Memoria
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_INTERNAL=y

# Optimización por Tamaño (Para que quepa en partición factory default)
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Credenciales WiFi y MQTT
CONFIG_GATEWAY_WIFI_SSID=Iamtitanium
CONFIG_GATEWAY_WIFI_PASS=@Roger1357
CONFIG_GATEWAY_MQTT_URL="mqtts://53b39b4ca3d649d696d8126555721baf.s1.eu.hivemq.cloud:8883"
CONFIG_GATEWAY_MQTT_USERNAME="roger-esp32"
CONFIG_GATEWAY_MQTT_PASSWORD="@Roger1357"

# Tópicos y configuración MQTT
CONFIG_GATEWAY_MQTT_TOPIC_BEACON="/concepcion/esp32/ibeacon"
CONFIG_GATEWAY_MQTT_TOPIC_COUNTER="/concepcion/esp32/contador"
CONFIG_GATEWAY_COUNTER_INTERVAL_MS=10000

# --- HARDENING & SAFETY (Required by Architect) ---
CONFIG_ESP_TASK_WDT_EN=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=10
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
CONFIG_BT_NIMBLE_NVS_PERSIST=n
