# Archivos de compilación
build/
sdkconfig
sdkconfig.old
*.pyc
*.o
*.elf
*.bin
*.map

# Archivos de dependencias
dependencies.lock
managed_components/

# Archivos temporales
*.swp
*.swo
*~
.DS_Store

# Archivos de IDE
.vscode/.cortex-debug.registers.state.json
.vscode/.cortex-debug.peripherals.state.json
.idea/
*.iml

# Archivos de logs
*.log
